/* src/styles.scss */

@import "primeng/resources/themes/lara-light-blue/theme.css";

@import "primeng/resources/primeng.min.css";

@import "primeicons/primeicons.css";

@import "primeflex/primeflex.css";

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: #f8f9fa; 
}

:root {
    --font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}